<nav class="navbar navbar-light bg-light shadow">
    <div class="container-fluid">
        <button #btn type="button" pButton icon="pi pi-bars" data-bs-toggle="modal"
            data-bs-target="#exampleModal"></button>
        <span class="navbar-brand mb-0 h1">Help Lab</span>
    </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">MENU</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">HOME</li>
                    <li class="list-group-item">DOCUMENTOS</li>
                    <li class="list-group-item">APLICATIVO</li>
                    <li class="list-group-item">CONTATOS</li>
                    <li class="list-group-item">SOBRE</li>
                </ul>

            </div>
        </div>
    </div>
</div>