<nav class="navbar navbar-light bg-light shadow">
    <div class="container-fluid">
        <button #btn type="button" pButton pRipple icon="pi pi-bars" data-bs-toggle="modal" data-bs-target="#menu-modal"
            class="p-button-rounded p-button-secondary p-button-outlined"></button>
        <span class="navbar-brand mb-0 h1">Help Lab</span>
    </div>
</nav>

<div class="modal fade" id="menu-modal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="menuModalLabel">MENU</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Hematologia Clínica</li>
                    <li class="list-group-item">Urinálise</li>
                    <li class="list-group-item">Parasitologia</li>
                    <li class="list-group-item">Contato</li>
                    <li class="list-group-item">Sobre</li>
                </ul>
            </div>
        </div>
    </div>
</div>